body {
    background-image: linear-gradient(rgb(63,131,197) 50%, rgb(124,183,288)100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;

}


main {
    border: 1px solid #0000FF;
    width: 300px;
    height: 500px;
    left: 50%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.titulo {
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #000000;
}
#timer-tempo {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #000000;
}
button {
    width: 155px;
    height: 35px;
    border: 3px solid rgb(0, 0, 0);
    display: block;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 5px;
}
.timer-botao {
    padding-top: 50px;
    display: block;
}
button:hover {
    cursor: pointer;
}
.selecionar {
    padding-left: 40%;
}
#cancelar:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}
#iniciar--pausar:hover{
    background-color: #22ed22;
}
#toque {
    display: none;
}
.seletor-timer {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}
.seletor {
    display: inline-block;
    padding: 10px;
}
h3 {
    padding-bottom: 1px;
}
